{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <h1>Friends posts</h1>
    </div>
    {% for post in posts %}
        <div class="d-flex justify-content-center row ">
            <div class="my-2" style="box-shadow: 10px 10px 50px #6D5593; border-radius: 10px; width: 500px; height: 490px; background-color: #a38fb0; ">
                <div class="my-2">
                    <a style="text-decoration: none; color: black;" href="/profile_view/{{ post.user.id }}/">
                        <img src="{{ post.user.image.url }}" height="35" width="35" class="rounded-circle">
                        @{{ post.user.username }}</a> <span  style="right: 510px; position: absolute; font-size: 15px; color: #7d6b87;">{{ post.created_at }}</span>
                </div>
                <a style="text-decoration: none; color: black;" href="/post/{{ post.id }}/">
                    <h2 style="color: white;">{{ post.title }}</h2>
                    <p style="color: white;">{{ post.text }}</p>
                    <img style="right: 487px; position: absolute;" src="{{ post.image.url }}" height="333" width="500">
                </a>
            </div>
        </div>
    {% endfor %}


    <div class="row">

    </div>

</div>



{% endblock %}

{% block a %}<a style="text-decoration: none; color: black;" href="/profile_view/{{ user.id }}" ><img class="rounded-circle" src="{{ user.image.url }}" width="35" height="35">        Profile</a> {% endblock %}